[submodule "ext/SDL"]
	path = ext/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "ext/glfw"]
	path = ext/glfw
	url = git@github.com:glfw/glfw.git
[submodule "ext/stb"]
	path = ext/stb
	url = git@github.com:nothings/stb.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/json"]
	path = ext/json
	url = git@github.com:nlohmann/json.git
[submodule "ext/shaderc"]
	path = ext/shaderc
	url = git@github.com:google/shaderc.git
[submodule "ext/SPIRV-Reflect"]
	path = ext/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
